{% extends 'base.html' %}

{% load static %}

{% block body %}

<!-- PAGE HEADER -->
<div id="post-header" class="page-header">
	<div class="page-header-bg" style="background-image: url('./img/header-1.jpg');" data-stellar-background-ratio="0.5"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="post-category">
					<a href="category.html">{{post.categories}}</a>
				</div>
				<h1>{{post.title}}</h1>
				<ul class="post-meta">
					<li><a href="author.html">SJ</a></li>
					<li>{{post.last_modified.date}}</li>
					<li><i class="fa fa-comments"></i> 3</li>
					<li><i class="fa fa-eye"></i> 807</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /PAGE HEADER -->
<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<!-- post share -->
				<div class="section-row">
					<div class="post-share">
						<a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
						<a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
						<a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
						<a href="#" ><i class="fa fa-envelope"></i><span>Email</span></a>
					</div>
				</div>
				<!-- /post share -->

				<!-- post content -->
				<div class="section-row">
					{{post.body}}
				</div>
				<!-- /post content -->

				

		

				<!-- post author -->
				<div class="section-row">
					<div class="section-title">
						<h3 class="title">About <a href="{% url 'author' %}">SJ</a></h3>
					</div>
					<div class="author media">
						<div class="media-left">
							<a href="author.html">
								<img class="author-img media-object" src="./img/avatar-1.jpg" alt="">
							</a>
						</div>
						<div class="media-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<ul class="author-social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /post author -->
				<div class="section-row">
					<div id="disqus_thread"></div>
						<script>

						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
						
						var disqus_config = function () {
						this.page.url = 'https://www.hacknhealth.com/{{ post.slug }}/';  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = '/{{ post.slug }}/'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://hacknhealth.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
				</div>
			
		
			
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

{% endblock body %}